<% if user_signed_in? %>
  <%= link_to 'Zurück', user_path(id: current_user.id) %>
<% end %>

<h1> <%= @party.title %> </h1>

<% if user_signed_in? %>
  <% if @party.on_guest_list?(current_user) %>

  <% else %>
    <%= form_for :guest, :url => { :controller => :guest, :action => "create"}, :html => { :method => :post, } do |f| %>
          <%= f.hidden_field :party_id, :value => @party.id, :user_id => current_user.id %>
          <div class="actions">
            <%= f.submit "Mich auf Gästeliste setzen" %>
          </div>
          <p>
            Wer auf der Gästeliste eingetragen ist kann Wünsche sehen und reservieren. Dies soll vermeiden, dass Dinge doppelt verschenkt werden.
          </p>
        <% end %>
  <% end %>
<% else %>
  <h2>Info</h2>
  <p>
    Bitte <%= link_to 'registrieren', new_user_registration_path %> Sie sich oder <%= link_to 'loggen sich ein', new_user_session_path %>. Im Anschluss können Sie der Gästeliste beirtreten und sehen die Geburtstagswünsche, welche dann reserviert werden können.
  </p>
<% end %>

<% if user_signed_in? && @party.on_guest_list?(current_user) %>
  <h2> Meine Wunschliste </h2>
  <% @party.wish_list.each.with_index do |wish, i| %>
    <%if !wish.reserved? || (user_signed_in? && wish.reserved_by == current_user) %>
      <div class="wish_container <%= i > 0 ? 'further-wish' : '' %>">
        <h3> <%= wish.name %> </h3>
        <img class="wish--image" src=<%= wish.img_url %> />
        <p>
          Info: <%= wish.price.to_s.split('.').join(',') %> € bei <%= wish.location %>
        </p>

        <% if user_signed_in? %>
          <% unless wish.reserved? %>
            <%= form_for :reservation, :url => { :controller => :reservation, :action => :create }, :html => { :method => :post, } do |f| %>
              <%= f.hidden_field :party_id, :value => @party.id %>
              <%= f.hidden_field :wish_list_item_id, :value => wish.id %>

              <div class="actions">
                <%= f.submit "Will ich schenken" %>
              </div>
            <% end %>
          <% end %>

          <%if wish.reserved? && wish.reserved_by == current_user %>
            <%= form_for :reservation, :url => { :controller => :reservation, :action => :destroy }, :html => { :method => :delete, } do |f| %>
              <%= f.hidden_field :party_id, :value => @party.id %>
              <%= f.hidden_field :wish_list_item_id, :value => wish.id %>

              <div class="actions">
                <%= f.submit "Will ich doch nicht schenken" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>

<% end %>
