<!DOCTYPE html>
<html>
  <head>
    <title>Birthday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-elements"> </div>
        <% if user_signed_in? %>
          <%= link_to 'Ausloggen', destroy_user_session_path, :method => :delete, :class=>"header-elements" %>
          <%= link_to 'Account', edit_user_registration_path, :class=>"header-elements" %>
          <%= link_to 'Profile', user_path(current_user), :class=>"header-elements" %>
        <% else %>
          <%= link_to 'Einloggen', new_user_session_path, :class=>"header-elements" %>
          <%= link_to 'Registrieren', new_user_registration_path, :class=>"header-elements" %>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
